#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  width: 100%;
  background-image: url('http://localhost:3000/assets/pokemons/fond.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.app::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  pointer-events: none;
}

.app > * {
  position: relative;
  z-index: 1;
}
